{# -*- engine:django -*- #}

{% extends "base.html" %}

{% block content %}
    <div id="main" class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="4u 12u(mobile)">

                <!-- Excerpts -->
                <section>
                    <ul class="divided">
                        {% for news in latest_news %}
                            <li>
                                <!-- Excerpt -->
                                <article class="box excerpt">
                                    <header>
                                        <span class="date">{{ news.date }}</span>
                                        <h3><a href="{{ news.get_absolute_url }}">
                                            {{ news.title }}
                                        </a></h3>
                                    </header>
                                    <p>{{ news.content }}</p>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </section>

                <!-- Highlights -->
                <section>
                    {% for event in notes %}
                        <ul class="divided">
                            <li>
                                <article class="box highlight">
                                    <header>
                                        <h3><a href="#">{{ event.name }}</a></h3>
                                    </header>
                                    <p>{{ event.description }}</p>
                                    <ul class="actions">
                                        <li><a href="{{ event.get_absolute_url }}" class="button icon fa-file">En savoir plus</a></li>
                                    </ul>
                                </article>

                            </li>
                        </ul>
                    {% endfor %}
                </section>

            </div>

            <!-- Content -->
            <div id="content" class="8u 12u(mobile) important(mobile)">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2>Behold! This is the <strong>left sidebar</strong> layout<br />
                            with a sidebar on the left!</h2>
                    </header>
                    <span class="image featured"><img src="images/pic04.jpg" alt="" /></span>
                    <h3>Left is the opposite of right</h3>
                    <p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
                        ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
                        sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
                        mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
                        Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.</p>
                    <p>Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat
                        Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula
                        vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet
                        magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in,
                        tristique at erat. Curabitur leo nibh, rutrum eu malesuada  in, tristique
                        at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna
                        tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros consequat
                        magna tempus</p>
                    <p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
                        ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
                        sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
                        mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
                        Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.</p>
                    <h3>Accumsan lorem ipsum veroeros</h3>
                    <p>Consequat Phasellus laoreet massa id in, tristique at erat lorem
                        ipsum dolor sit amet lorem ipsum sed consequat magna tempus veroeros
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
                        mollis tortor congue. Sed quis mauris sit amet magna.</p>
                    <p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
                        ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
                        sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
                        mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
                        Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.</p>
                    <h3>Ligula suspcipit fusce veroeros</h3>
                    <p>Nullam dolore etiam sed massa id in, tristique at erat lorem
                        ipsum dolor sit amet lorem ipsum sed consequat magna tempus veroeros
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
                        mollis tortor congue. Sed quis mauris sit amet magna.</p>
                    <p>Sed massa id justo mattis pharetra. Fusce suscipit
                        ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
                        sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
                        magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
                        consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
                        justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
                        mollis tortor congue. Sed quis mauris sit amet magna accumsan.</p>
                </article>

            </div>

        </div>
    </div>
{% endblock %}
