{# -*- engine:django -*- #}

<!-- Experimental template for the profile viewing -->

{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    {{ user.profile }}
{% endblock %}

{% block content %}
    {% if member %}
        <div class="row">
            <header>
                <h2>{{ member.profile }}</h2>
            </header>
            <div class="6u 12u(mobile)">
                <span class="image row 50%">
                    {% if member.profile.image %}
                        <img src="{{ member.profile.image.url }}" />
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" height="200" />
                    {% endif %}
                </span>
                <div class="class 6u 12u(mobile)">
                    <strong>Nom d'utilisateur :</strong> {{ member.username }}
                </div>
                <div class="class 6u 12u(mobile)">
                    <strong>Addresse mail :</strong>
                    {% if member.email %}
                        {{ member.email }}
                    {% else %}
                        Non spécifiée
                    {% endif %}
                </div>
                <div class="6u 12u(mobile)">
                    <strong>Nom:</strong>
                    {% if member.last_name %}
                        {{ member.last_name }}
                    {% else %}
                        Non spécifié
                    {% endif %}
                </div>
                <div class="6u 12u(mobile)">
                    <strong>Prénom:</strong>
                    {% if member.first_name %}
                        {{ member.first_name }}
                    {% else %}
                        Non spécifié
                    {% endif %}
                </div>
                <div class="6u 12u(mobile)">
                    <strong>Localisation:</strong>
                    {% if member.profile.location %}
                        {{ member.profile.location }}
                    {% else %}
                        Non spécifiée
                    {% endif %}
                </div>
            </div>
            {% if request.user == member %}
                <a href="{% url 'user-profile-edit' %}" class="button icon fa-file">Modifier mon profil</a>
            {% endif %}
        </div>
    {% else %}
        <h1>A fatal error occured ! Please contact website administrator !</h1>
    {% endif %}
{% endblock %}
