{# -*- engine:django -*- #}

{% extends "base.html" %}

{% block title %}
    Galleries photo
{% endblock %}

{% block sidebar %}no-sidebar{% endblock %}

{% block content %}
    <article class="box post">
        <header>
            <h2>Galleries photo :</h2>
        </header>
        <ul>
            {% for gallery in gallery_list %}
                <li>
                    <a class="icon fa-file" href="{% url 'gallery-detail' gallery.pk %}">
                        <span>{{ gallery.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
