{# -*- engine:django -*- #}

{% extends "base.html" %}

{% block title %}
    Galleries photo
{% endblock %}

{% block sidebar %}no-sidebar{% endblock %}

{% block content %}
    <section>
        <article class="box post">
            <header>
                <h2>Galleries photo :</h2>
            </header>
            <ul>
                {% for gallery in gallery_list %}
                    <li>
                        <a class="icon fa-file" href="{{ gallery.get_absolute_url }}">
                            <span>{{ gallery.name }} créé le {{ gallery.date }}
                                ( {{ gallery.picture_set | length }}
                                photo{{gallery.picture_set.all | length | pluralize}})</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </section>
{% endblock %}
