{# -*- engine:django -*- #}

{% extends "base.html" %}

{% block title %}
    Evenements
{% endblock %}

{% block content %}
    <section>
        <article>
            <header>
                <h2>Evenements :</h2>
            </header>
            <p>
                <ul>
                    {% for event in event_list %}
                        <li>
                            <span class="icon fa-file">
                                <a href="{{ event.get_absolute_url }}">{{ event.name }}</a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        </article>
        Ici vous pouvez consulter la liste des {{ event_list | length }}
        évenement{{ event_list | length | pluralize }} organisés par JDRpoly ainsi que leurs dates.
    </section>
{% endblock %}
