{# -*- engine:django -*- #}

{% extends "base.html" %}

{% load bbcode %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block sidebar %}no-sidebar{% endblock %}

{% block content %}
    <div class="row 100%">
        <section>
            <article>
                <header>
                    <h2>{{ event.name }}</h2>
                </header>
                <p>
                    {% bbcode event.description %}
                </p>
                <p>
                    Accès :
                    {% if event.member_only %}
                        <strong style="color:green">Membres seulement</strong>
                    {% else %}
                        <strong style="color:red">Tout le monde</strong>
                    {% endif %}
                </p>
            </article>
        </section>
        <section>
            <h2>Prochaines dates :</h2>
            {% if editions %}
                <ul>
                    {% for edition in editions %}
                        <li>
                            <a href="{% url 'edition-detail' edition.pk %}">{{ edition.date }} ({{edition.place}})</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Aucune date prévue pour cet évenement.
            {% endif %}
        </section>
    </div>
{% endblock %}
